body
{
    
    background-color: #214636 ;
    
}

.headPage
{
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 12vw ; 
    
}

#thisIs
{
    
    height: fit-content ;
    width: fit-content ;
    
    position: absolute;
    
    top: 0vw;
    left: 48vw;
    
}

#library
{
    
    height: fit-content ;
    width: fit-content ;
    
    position: absolute;
    
    top: 12vw;
    left: 60vw;
    
}

.loginPortal
{
    
    height: 16vw ;
    width: 32vw; ;
    
    background: #FFFFFF;
    border: 0.32vw solid #A8F9FE ;
    border-radius: 1.28vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    position: absolute;
    
    top: 24vw;
    left: 12vw;
}

.top
{
    
    height: 4vw;
    width: 32vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
        
}

.userButton
{
    
    height: 2.56vw;
    width: 6.88vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #214636;
    
    
    border: 0.16vw solid #A8F9FE ;
    border-radius: 1.28vw;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw ;
    
    
}

.adminButton
{
    
    height: 2.56vw;
    width: 6.88vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #214636;
    
    border: none;
    border-radius: 1.28vw;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw ;
    
    
}

.adminButton:hover
{
    
    border: 0.16vw solid #A8F9FE ;
    
}



.bottom
{
    
    height: 11.2vw;
    width: 32vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.userForm
{
    
    height: 11.2vw;
    width: 32vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#userName
{
    
    height: 2.56vw;
    width: 19.52vw;
    
    background: #B7B7B7;
    
    border-radius: 1.28vw;
    border: 0;
    
    padding: 0 0 0 0.96vw ;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw;
    
}

#userName:focus
{
    
    outline: 0.16vw solid #A8F9FE;
    
}

#userName::placeholder
{
    
    color: #f0f0f0;
    
}

#password
{
    
    height: 2.56vw;
    width: 19.52vw;
    
    background: #B7B7B7;
    
    border-radius: 1.28vw;
    border: 0;
    
    padding: 0 0 0 0.96vw ;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw;
    
}

#password::placeholder
{
    
    color: #f0f0f0;
    
}

#password:focus
{
    
    outline: 0.16vw solid #A8F9FE;
    
}

.loginButton
{
    
    height: 2.56vw;
    width: 6.88vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #010101;
    
    border: none;
    border-radius: 1.28vw;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw ;
        
}

.loginButton:hover
{
    
    border: 0.16vw solid #A8F9FE ;
    
}

.registrationBar
{
    
    height: 4vw ;
    width: 32vw; ;
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    column-gap:0.64vw;
    
    position: absolute;
    
    top: 42vw;
    left: 12vw;
    
}

.new
{
    
    height: fit-content;
    width: fit-content;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #ffffff ;
    font-size: 1.5vw ;
    
}

.registerButton
{
    
    height: 2.56vw;
    width: 6.88vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #ffffff;
    
    border: none;
    border-radius: 1.28vw;
    
    font-family: 'Roboto', sans-serif ;
    font-weight: 700;
    color: #214636 ;
    font-size: 1.5vw ;
        
}

.registerButton:hover
{
    
    border: 0.16vw solid #A8F9FE ;
    
}

