<!DOCTYPE html>

<html>

    <head>
    
        <title>
        
            Ohh noooooooooo !1!!
        
        </title>
        
        <link rel="stylesheet" type="text/css" href="style/404.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        
            <center>
        
                <div class="404">

                    404

                </div>
                
            </center> 
        
             <center>
        
                <div class="notFound">

                    ! found

                </div>
                
            </center> 
        
        
        
    </body>
    
    <script src="script/404.js"></script>

</html>