<!DOCTYPE html>

<html>

    <head>
    
        <title>
        
            Ohh noooooooooo !1!!
        
        </title>
        
        <link rel="stylesheet" type="text/css" href="style/notAdminstyle.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        
            <center>
        
                <div class="spaceInusername">

                    Sire you are not registered (or kindly check your username) !

                </div>
                
            </center>    

            <form class="home" action="/goToadminLoginpage" method="GET" >

                <input type="submit" class="backButton" value="Back">

            </form>
        
    </body>
    
    <script src="script/notAdminscript.js"></script>

</html>