<!DOCTYPE html>

<html>

    <head>
    
        <title>
        
            Home
        
        </title>
        
        <link rel="stylesheet" type="text/css" href="style/userPortalstyle.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        
        <form action="/goTouserRequestbookspage" method="POST">
            
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="requestButton" value="Request Books">
        
        </form>
        
         <form action="/goTouserRequestedbookspage" method="POST">
            
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="requestedButton" value="Requested Books">
        
        </form>
        
        <form action="/goTouserReturnbookspage" method="POST">
            
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="returnButton" value="Return Books">
        
        </form>
        
        <form action="/goTouserHistorypage" method="POST">
            
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="historyButton" value="History & Status">
        
        </form>
        
        <form action="/logoutUser" method="POST">
            
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="logoutButton" value="Logout">
        
        </form>
        
    </body>
    
    <script src="script/userPortalscript.js"></script>

</html>