<!DOCTYPE html>

<html>

    <head>
    
        <title>
        
            Bye Bye
        
        </title>
        
        <link rel="stylesheet" type="text/css" href="style/adminLogoutsuccessfulstyle.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    
    </head>
    
    <body>
        
            <div class="loginSuccessful">

                Logout Successful !

            </div>


            <form class="home" action="/goTouserLoginpage" method="GET" >

                <input type="submit" class="homeButton" value="Home">

            </form>
        
    </body>
    
    <script src="script/adminLogoutsuccessfulscript.js"></script>

</html>